<p style="margin-top: 15px;margin-bottom: 15px;font-size: 14px;line-height: 1.8;color: #000;">
    <%= Translation.translateMessage('Your password has been changed by admin. Now you can login with', language) %>,
    <br>
    <span style="color: #98A6AD !important;"><%= Translation.translateMessage('Login Id', language) %>:
    </span><%= email %>
    <br>
    <span style="color: #98A6AD !important;"><%= Translation.translateMessage('Password', language) %>:
    </span><%= password %>
    <br>
</p>