<div style="margin-top: 15px;margin-bottom: 15px;font-size: 14px;line-height: 1.8;color: #000;">
    <p>Dear <%= name %>
    </p>
    <p>You've been added to <%=sails.config.PROJECT_NAME %>
        portal as a System User. </p>

    <p>Please login to the system - <%=sails.config.PROJECT_URL %>
    </p>
    <p>Email Address - <%= username %>
        </br>
        Password - <%= password %>
    </p>
    <p>In case of any issues or queries, please email us at <%=sails.config.PROJECT_DEFAULT_MAIL %></p>

    <p>Regards,<br />
        <%=sails.config.PROJECT_NAME %> Team</p>

</div>