<div style="margin-top: 15px;margin-bottom: 15px;font-size: 14px;line-height: 1.8;color: #000;">
    <p>Happy to have you as a Partner in our mission towards Green Mobility.
    </p>
    <p>Please make a note of the email address you associated with
        <%= name %>.
        You can access your portal <a href="<%=sails.config.PROJECT_URL %>">here</a> </p>

    <p>Login ID:
        <%= username %>
        </br>
        Password:
        <%= password %>

    </p>
    <p>We are committed to providing you exceptional support service. Here is
        what <%=sails.config.PROJECT_NAME %> is doing to serve you:</p>
    <p>We promise to promptly respond to your e-mails and phone calls.</p>
    <p>If you didn't create this account, or just wanna say hi to our team,
        please email
        us
        at <%=sails.config.PROJECT_DEFAULT_MAIL %></p>

    <p>Thanks! We're excited to have you on board,<br />
        The <%=sails.config.PROJECT_NAME %> Team<br />
</div>