<p style="margin-top: 15px;margin-bottom: 15px;font-size: 14px;line-height: 1.8;color: #000;">
    The password for your <%=sails.config.PROJECT_NAME %>
    ID (<%= mailContent.email %>) has been successfully
    reset.
</p>
<p style="margin-top: 15px;margin-bottom: 15px;font-size: 14px;line-height: 1.8;color: #000;">
    If you did not make this
    change or you believe an
    unauthorized person has
    accessed your account, go to
    e-scooter/forgetpassword to
    reset your password without
    delay. Following this, sign
    into your <%=sails.config.PROJECT_NAME %> ID account
    page at e-scooter/login to
    review and update your
    security settings. If you
    need additional help, please
    contact <%=sails.config.PROJECT_NAME %> Support.
</p>
<p style="margin-top: 15px;margin-bottom: 15px;font-size: 14px;line-height: 1.8;color: #000;">
    Sincerely, <%=sails.config.PROJECT_NAME %> Happiness
    Team
</p>