<div style="margin-top: 15px;margin-bottom: 15px;font-size: 14px;line-height: 1.8;color: #000;">
    <p><%= Translation.translateMessage('We’re so happy you’re here! The concept is simple: Book Scooter, Ride Anywhere.',language) %>
    </p>
    <p><%= Translation.translateMessage('Please make a note of the email address you associated with',language) %>
        <% name %>
        <%= Translation.translateMessage('. You'll need it to access certain areas of portal including accessing
        orders
        and analytics.',language) %> </p>

    <p><%= Translation.translateMessage('Login ID:',language) %>
        <%= username %>
        </br>
        <%= Translation.translateMessage('Password:',language) %>
        <%= password %>

    </p>
    <p>We are committed to providing you exceptional support service. Here is
        what <%=sails.config.PROJECT_NAME %>
        is
        doing to serve you:</p>
    <ul>
        <li>
            We have support tech standing by at +1-833-275-0847 (M-F, 9.00 AM –
            5.00 PM)
        </li>
        <li>
            We promise to promptly respond to your e-mails and phone calls.
            Email us at
            <%=sails.config.PROJECT_DEFAULT_MAIL %>
        </li>
    </ul>
    <p>If you didn't create this account, or just wanna say hi to our team,
        please email
        us
        at <%=sails.config.PROJECT_DEFAULT_MAIL %></p>

    <p>Thanks! We're excited to have you on board,<br />
        The <%=sails.config.PROJECT_NAME %> Team<br />
</div>